@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
/* start scroll styleing */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ff825c;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f86a3f;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f86a3f;
}
/* end scroll styleing */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
}
