@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* Remove arrows from number input */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

body {
  margin: 0;
  padding: 0;
}
